{% extends "base.twig" %}

{% block title %}Login{% endblock %}

{% block header %}{% include "base/header.twig" %}{% endblock %}

{% block body_class %}{% endblock %}

{% block master_class %}jumbotron{% endblock %}

{% block left_class %}col-md-2{% endblock %}

{% block mid_class %}col-md-8{% endblock %}

{% block right_class %}col-md-2{% endblock %}


{% block content %}
	<div class="row">
		<div class="container-fluid">
			{{ form_open|raw }}
			<div class="form_group">
				{{ label_nome|raw }}
				{{ input_id_usuario|raw }}
			</div>
			<div class="form-group">
				{{ label_funcao|raw }}
				{{ dropdown_funcao|raw }}
			</div>
			{{ button_submit|raw }}
			{{ form_close|raw }}
		</div>
	</div>


{% endblock %}

{% block right_content %}


{% endblock %}
