{% extends "base.twig" %}

{% block title %}Login{% endblock %}

{% block header %}{% include "base/header.twig" %}{% endblock %}

{% block body_class %}{% endblock %}

{% block master_class %}jumbotron{% endblock %}

{% block left_class %}col-md-2{% endblock %}

{% block mid_class %}col-md-8{% endblock %}

{% block right_class %}col-md-2{% endblock %}


{% block content %}
    <div class="container-fluid">
		<div class="row">
			{% if msg %}
				<div class="{{ class_msg|raw }}">
					{{ msg|raw }}
				</div>
			{% endif %}
		</div>
        <div class="row">
            <div class="col-md-4">
                <label>Seja Bem Vindo {{ nome|raw }}</label>
            </div>
            <div class="col-md-8">
                <label>Sobre:</label>
                <p>{{ sobre|raw }}</p>
            </div>
        </div>

        <hr/>

        <div class="row wy-text-center">
            <div class="col-md-12">
                <label>Seus filmes favoritos:</label>
                <table class="table table-dark">
                    <tr>
                        <td>
                            Nome:
                        </td>
                        <td>
                            Descrição:
                        </td>
                    </tr>
                    {% for filmes in results %}
                        <tr>
                            <td>
                                {{ filmes.nome|raw }}
                            </td>
                            <td>
                                {{ filmes.descricao|raw }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="pagination">
                    {{ links|raw }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block right_content %}


{% endblock %}
