<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" {% if usuario %}href="{{ base_url()|raw }}usuario/perfil"{% else %}href="{{ base_url()|raw }}"{% endif %}>Resenha Online</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
            {% if usuario %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url()|raw }}usuario/perfil">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url()|raw }}editar-usuario">Editar</a>
                </li>
				{% if usuario['id_funcao'] == 1 %}
					<li class="nav-item">
						<a class="nav-link" href="{{ base_url()|raw }}filme/cadastroFilme">Cadastro de Filme</a>
					</li>
				{% endif %}
				{% if usuario['id_funcao'] == 3%}
					<li class="nav-item">
						<a class="nav-link" href="{{ base_url()|raw }}usuario/criarFuncao">Nova Função</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ base_url()|raw }}usuario/listarUsuario">Listar Usuários</a>
					</li>
				{% endif %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url()|raw }}"> Inicio<span class="sr-only">(página atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ base_url()|raw }}resenha-online/cadastro-usuario">Cadastrar-se</a>
                </li>
            {% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{{ base_url()|raw }}filme/ListarFilmes">Filmes</a>
				</li>
			{% if usuario %}
				<li class="nav-item">
					<a class="nav-link" href="{{ base_url()|raw }}usuario/sair">Sair</a>
				</li>
			{% endif %}
        </ul>

    </div>
</nav>
